.float-button {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 130px;
  padding: 10px 0 10px 10px;
  height: 20px;
  cursor: pointer;
  line-height: 20px;
  text-align: right;
  border-radius: 3px;
  transition: all 0.2s;
  user-select: none;
  display: flex;
  background-color: white;
  border: 1px solid rgba(150, 150, 150, 1);
}

.float-button .text {
  margin-top: 0px;
  font-family: monospace;
  font-weight: bold;
  line-height: 20px;
  font-size: 14px;
  margin-right: 5px;
}

.float-button .emoji {
  line-height: 20px;
  font-size: 20px;
}

.float-button:hover {
  background-color: rgba(230, 230, 230, 1);
}

.float-button:active {
  background-color: rgba(220, 220, 220, 1);
}

.prompt pre {
  line-height: 12px;
  overflow-x: scroll;
}

#nvd-vulnerability-description p {
  padding-left: 40px;
  line-height: 16px;
}

.alert {
  transition: all 0.1s;
  margin-top: 15px;
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(150, 150, 150, 1);
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 3px;
}

.alert:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.code-flows {
  margin-top: 8px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
}

.code-flow {
  transition: all 0.1s;
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(150, 150, 150, 1);
  width: 400px;
  min-width: 400px;
  max-height: 480px;
  overflow-y: scroll;
  padding: 5px;
  border-radius: 3px;
  overflow-x: hidden;
}

.code-flow:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.code-flow + .code-flow {
  margin-left: 10px;
}

.code-flow-items {
  padding: 10px;
  margin: 0;
  list-style: none;
}

pre, code {
  font-family: monospace;
}

.code-flow code {
  display: inline-block;
  padding: 5px 0;
  line-height: 12px;
}
